.user-container {
    padding: 0;
    min-height: 350px;

}

.user-sidebar-link {
    margin: 10px 0 10px 0;
    padding: 0;
    color: black;
}

.user-sidebar-link a {
    font-weight: bold;
    color: black;
    transition: .3s;
}

.user-sidebar-link a:hover {
    color: #00A1DF;
    text-decoration: none;
}

.is-active {
    color: #00A1DF;
    text-decoration: none;
}

.a {
    color: black;
}

.card-deck {
  display: grid;
}

@media screen {
  .card-deck {
    grid-template-columns: repeat(3, 1fr);
  }
}
