.card-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, 33ch);
}

.card {
  border-radius: 10px;
  box-shadow: 10px 10px;
  width: max-content;
  margin: auto;
  padding: auto;
}

.card-title {
  margin: auto;
  padding: auto;
}
