.bg-black {
    background-color: #43506C;
}

#navbar-main a {
    font-size: 15px;
    font-weight: bold;
    color: #E9E9EB;
    transition: .3s;
}

#navbar-main a:hover {
    color: #EF484C;
    text-decoration: none;
}

#header {
    width: 100%;
    height: 230px;
    background-color: #43506C;
    /*position: relative;*/
}

.fixed {
    position: fixed;
    /*width: 100%;*/
    top: 0;
    z-index: 20;
}
